@import url(https://fonts.googleapis.com/css?family=Roboto:300,700|Roboto+Slab);
@maintextcolor: rgba(0,0,0,0.87);
@spacer: 1em;
@bordercolor:#ccc;

body {
  font-family: 'Roboto',sans-serif;
  color: @maintextcolor;
  background: #fafafa;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Slab';
}
.search {
  display: flex;
  &> form {
    flex-grow: 1;
    max-width: 33%;
    padding:0 @spacer;
  }
  .filters {
    padding:0 @spacer;
    display:flex;
    flex-grow: 2;
    border-left:solid 1px @bordercolor;
    label {display:block;}
    div {
      flex:1;
    }
  }
}
