@import url(https://fonts.googleapis.com/css?family=Roboto:300,700|Roboto+Slab);
body {
  font-family: 'Roboto', sans-serif;
  color: rgba(0, 0, 0, 0.87);
  background: #fafafa;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Slab';
  font-weight: normal;
}
.hoverstate {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.4s;
}
.activestate {
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.1s;
}
button {
  padding: 1em;
  color: #ffffff;
  background: #03a9f4;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  font-weight: 700;
  font-size: 1em;
  border: 0;
  border-radius: 2px;
}
button:hover {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.4s;
  background: #47c4fd;
}
button:active {
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.1s;
  background: #0275a8;
}
main {
  display: flex;
  align-items: flex-start;
}
main h2,
main h4 {
  margin: 0;
}
nav {
  margin: 1em;
  border-radius: 2px;
}
nav ul {
  padding: 0;
}
nav li {
  list-style-type: none;
}
nav li a,
nav li a:visited {
  display: block;
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none;
  min-width: 12em;
  background: #eeeeee;
  padding: 1em;
  border-left: solid 3px #eeeeee;
}
nav li a:hover,
nav li a:visited:hover {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.4s;
  background: #fbfbfb;
  border-left: solid 3px #03a9f4;
}
nav li a:active,
nav li a:visited:active {
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.1s;
  background: #c8c8c8;
  border-left: solid 3px #0275a8;
}
nav li a.active,
nav li a:visited.active {
  transition: all 1s;
  background-color: #607d8b;
  color: #fff;
  border-left: solid 3px #41545e;
}
nav li a.active:hover,
nav li a:visited.active:hover {
  background-color: #607d8b;
  color: #fff;
}
nav li a.active svg,
nav li a:visited.active svg {
  fill: #fff;
}
nav li a svg,
nav li a:visited svg {
  margin-right: 1em;
  color: rgba(0, 0, 0, 0.4);
}
.icon {
  vertical-align: top;
  margin-top: 1px;
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.search {
  display: flex;
  background: #eeeeee;
  color: rgba(0, 0, 0, 0.87);
  padding: 1em;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}
.search h1,
.search h2,
.search h3,
.search h4,
.search h5,
.search h6 {
  margin-top: 0;
}
.search .geneinput {
  display: flex;
  max-width: 40%;
}
.search .intro {
  max-width: 50%;
}
.search .searchform {
  flex-grow: 1;
  max-width: 50%;
  padding: 0 1em;
}
.search .searchform select,
.search .searchform button,
.search .searchform textarea {
  width: 100%;
  box-sizing: border-box;
  margin: 0.5em;
  border-radius: 2px;
}
.search .searchform select,
.search .searchform textarea {
  background-color: #fff;
  border: solid 1px #cccccc;
  padding: 0.25em;
}
.search .filters {
  padding: 0 1em;
  display: flex;
  flex-grow: 2;
}
.search .filters label {
  display: block;
  min-width: 9em;
  flex-grow: 1;
}
.search .filters .filter {
  padding: 0 1em;
  border-left: solid 1px #cccccc;
  flex-grow: 4;
  max-width: 50%;
  transition-timing-function: ease-out;
  transition: all 2s;
}
.search .filters .filter form {
  display: flex;
  flex-wrap: wrap;
  flex-flow: space-around;
}
.search .filters .evidence-mini {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  max-width: 10em;
}
.search .filters .evidence-mini:after {
  content: "";
  display: table;
  clear: both;
}
.search .filters .evidence-mini .code {
  margin: 0.1em 0.2em;
}
.search .filters .evidence-mini .code:after {
  content: ",";
}
.search .filters .evidence-mini .code:last-child:after {
  content: "";
}
.search .filters .evidence-mini h5 {
  width: 100%;
  margin: 0.1em;
}
.search .filters .evidence-mini a {
  text-decoration: underline;
}
.ortholog-results {
  margin: 1em;
  width: 100%;
}
.ortholog-results .count {
  width: 6em;
}
.ortholog-results .aggregate {
  width: 100%;
}
.ortholog-results .aggregate td,
.ortholog-results .aggregate th {
  text-align: center;
}
.ortholog-results .aggregate td {
  padding: 0.2em 1em;
}
.ortholog-results .aggregate td.dataset {
  min-width: 10em;
}
.ortholog-results .aggregate td.organism {
  min-width: 6em;
}
.ortholog-results .aggregate td:first-child {
  border-left: solid 3px;
  padding: 0.2em;
}
.ortholog-results .aggregate .zebrafish td {
  border-color: #ff5722;
}
.ortholog-results .aggregate .yeast td {
  border-color: #ffc107;
}
.ortholog-results .aggregate .human td {
  border-color: #8bc34a;
}
.ortholog-results .aggregate .worm td {
  border-color: #3f51b5;
}
.ortholog-results .aggregate .mouse td {
  border-color: #00bcd4;
}
.ortholog-results .aggregate .rat td {
  border-color: #e91e63;
}
.ortholog-results .aggregate .fly td {
  border-color: #9c27b0;
}
.ortholog-results .aggregate th {
  background: #607d8b;
  color: #ffffff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  font-weight: 700;
  padding: 0.5em;
}
.ortholog-results .aggregate tr:hover {
  background: #fffde7;
}
.ortholog-results .aggregate tr:hover td {
  background: #fffde7;
}
.ortholog-results .aggregate tr:nth-child(even) {
  background: #e5e5e5;
}
.heatmap th.goterm {
  white-space: nowrap;
  height: 7em;
}
.heatmap th.goterm div {
  transform: translate(25px, 25px) rotate(315deg);
  width: 3em;
}
.heatmap th.goterm div span {
  display: block;
  min-width: 12em;
  white-space: nowrap;
  border-bottom: 1px solid #ccc;
  padding: 5px 10px;
}
.db tr:nth-child(even) {
  background-color: rgba(50, 150, 200, 0.1);
}
.db td {
  margin: 0;
}
.db .jh-key {
  text-align: right;
}
