@import url(https://fonts.googleapis.com/css?family=Roboto:300,700|Roboto+Slab);
body {
  font-family: 'Roboto', sans-serif;
  color: rgba(0, 0, 0, 0.87);
  background: #fafafa;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Slab';
  font-weight: normal;
}
button {
  padding: 1em;
  color: #ffffff;
  background: #03a9f4;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  font-weight: 700;
  font-size: 1em;
  border: 0;
  border-radius: 2px;
}
button:hover {
  background: #47c4fd;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.4s;
}
button:active {
  background: #0275a8;
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.1s;
}
.icon {
  vertical-align: middle;
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  fill: currentColor;
}
.search {
  display: flex;
  background: #eee;
  padding: 1em;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}
.search h1,
.search h2,
.search h3,
.search h4,
.search h5,
.search h6 {
  margin-top: 0;
}
.search .geneinput {
  display: flex;
  max-width: 40%;
}
.search .intro {
  max-width: 50%;
}
.search .searchform {
  flex-grow: 1;
  max-width: 50%;
  padding: 0 1em;
}
.search .searchform select,
.search .searchform button,
.search .searchform textarea {
  width: 100%;
  box-sizing: border-box;
  margin: 0.5em;
  border-radius: 2px;
}
.search .searchform select,
.search .searchform textarea {
  background-color: #fff;
  border: solid 1px #cccccc;
  padding: 0.25em;
}
.search .filters {
  padding: 0 1em;
  display: flex;
  flex-grow: 2;
}
.search .filters label {
  display: block;
  min-width: 9em;
  flex-grow: 1;
}
.search .filters .filter {
  padding: 0 1em;
  border-left: solid 1px #cccccc;
  flex-grow: 4;
  max-width: 50%;
  transition-timing-function: ease-out;
  transition: all 2s;
}
.search .filters .filter form {
  display: flex;
  flex-wrap: wrap;
  flex-flow: space-around;
}
.search .filters .evidence-mini {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  max-width: 10em;
}
.search .filters .evidence-mini:after {
  content: "";
  display: table;
  clear: both;
}
.search .filters .evidence-mini .code {
  margin: 0.1em 0.2em;
}
.search .filters .evidence-mini .code:after {
  content: ",";
}
.search .filters .evidence-mini .code:last-child:after {
  content: "";
}
.search .filters .evidence-mini h5 {
  width: 100%;
  margin: 0.1em;
}
.search .filters .evidence-mini a {
  text-decoration: underline;
}
.ortholog-results {
  margin: 1em;
}
