@import url(https://fonts.googleapis.com/css?family=Roboto:300,700|Roboto+Slab);
body {
  font-family: 'Roboto', sans-serif;
  color: rgba(0, 0, 0, 0.87);
  background: #fafafa;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Slab';
}
.search {
  display: flex;
}
.search > form {
  flex-grow: 1;
  max-width: 33%;
  padding: 0 1em;
}
.search .filters {
  padding: 0 1em;
  display: flex;
  flex-grow: 2;
  border-left: solid 1px #cccccc;
}
.search .filters label {
  display: block;
}
.search .filters div {
  flex: 1;
}
